<li>
  <span class="id"><%= post.id %>：</span>
  <span class="username"><%= post.username %></span>
  <span class="email"><%= post.email %></span>
  <span class="timestamp">
    ：<%= post.created_at %> 
  </span>
  <span class="comment"><%= post.comment %></span>
</li>